<%- include('partials/header') -%>
<div class="container mx-auto sm:px-4">
  <div class="flex flex-wrap  mt-5">
      <div class="w-1/2">
          <div class="profile-body">
              <p><strong>Hello, </strong> <%= user.displayName %>!</p>
              <!-- <p><strong>Email</strong>: <%= user.email %></p>
              <p><strong>User Name</strong>: <%= user.userName %></p> -->
              <a href="/logout" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-slate-500 text-white hover:bg-red-600">Logout</a>
          </div>
          <div class="mt-5">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-2xl dark:text-white">Find a Property</h1>
            <form action="/property/search" method="POST">
            
              <div class="mb-3">
                  <label for="streetNum" class="form-label">Street Number</label>
                  <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" id="streetNum" name="streetNum">
              </div>
              <div class="mb-3">
                <label for="street" class="form-label">Street Name</label>
                <textarea class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" id="street" name="street"></textarea>
              </div>
              <!-- <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-500 text-white hover:bg-blue-400" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="w-1/2">
        <ul class="flex flex-wrap  list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="w-1/2 justify-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="max-w-full h-auto" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        
        <!-- <div class="flex flex-wrap  justify-center mt-5">
          <a class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600" href="/recent">Return to Recent</a>
        </div>   -->


      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>