<%- include('partials/header') -%>


<!-- Tailwind CSS v2.0+ layout -->
<div class="pb-11 container overflow-hidden bg-white shadow sm:rounded-lg m-auto">
  <div class="property-container">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-500" style="text-align: center;">Property Information for</h3>      <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
      <h3 class="text-lg font-medium leading-6 text-gray-900" style="text-align: center;"><%= formattedAddress %></h3>      <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Owner Name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.ownerName %></dd>
        </div>
        <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Owner Type</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.ownerCode %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Parcel ID</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.parcelId %></dd>
        </div>
        <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">School District</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.school %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Municipality</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.municipality %></dd>
        </div>
        <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Deed Recorded on</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.recordingDate %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Lot Area (square footage)</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= property.lotArea %></dd>
        </div>
        <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Last Sales Price</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= property.salePrice.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
        </div>
      </div>
      
      
    </dl>
    <div class="additional-details pt-8">
      <label for="features-btn" class="btn modal-button ml-5">Request Features</label>
      <input type="checkbox" id="features-btn" class="modal-toggle" />
      <label for="features-btn" class="modal cursor-pointer">
      <label class="modal-box relative" for="">
        <h3 class="text-lg font-bold">Request Additional Features</h3>
        <p class="py-4">Reach out to our team if you would like to request custom reports for specific property information</p>
        <a href="/contact" class="py-4 fas fa-envelope me-5 text-secondary">Contact Us</a>
      </label>
      </label>


      <label for="building-btn" class="btn btn-outline m-4">Building Info</label>
      <input type="checkbox" id="building-btn" class="modal-toggle" />
      <!-- Building Info Modal -->
      <label for="building-btn" class="modal cursor-pointer">
        <label class="modal-box relative" for="">
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Use Type</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= building.useType %> </dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Total Rooms</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.totalRooms %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Basement</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.basement %></dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Building Style</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.style %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Bedrooms</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= building.bedrooms %> </dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Number of Stories</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.stories %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Building Grade</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.grade %></dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Full Baths</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.fullBaths %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Half Baths</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= building.halfBaths %> </dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Fireplaces</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.fireplaces %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Exterior</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.exterior %></dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Roof Type</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.roof %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Cooling</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= building.cooling %> </dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Total Rooms</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.totalRooms %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Livable Square Feet</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= building.livableSquareFeet.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
          </div>
        </label>
      </label>
            
            
            <label for="tax-btn" class="btn btn-outline">Tax Info</label>
            <input type="checkbox" id="tax-btn" class="modal-toggle" />
            <label for="tax-btn" class="modal cursor-pointer">
              <label class="modal-box relative" for="">
                <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Tax Bill Address</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= countyTax.taxBillAddr %></dd>
                </div>
                <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Tax Value</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= countyTax.taxValue.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                </div>
                <div id="county-taxes" class="ring-offset-2 ring ring-gray-300 ring-opacity-40">
                  <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">County Millage Rate</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= propertyTax.countyMillage %></dd>
                  </div>
                  <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Net County Tax Due @ Discount (3/31/23) </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= countyTax.netTaxDueThisMonth.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                  </div>
                  <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Gross County Tax Due @ Face (4/30/23) </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= countyTax.grossTaxDueNextMonth.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                  </div>
                </div>
                <div id="local-taxes" class="ring-offset-2 ring ring-gray-300 ring-opacity-40">
                  <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Local Millage Rate</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= propertyTax.localMillage %></dd>
                  </div>
                  <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Local Tax Due @ Discount</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= countyTax.taxValue !== 0 ? propertyTax.localTaxPerYear.toLocaleString({ maximumFractionDigits: 2 }) : 0 %></dd>
                  </div>
                </div>
                <div id="school-taxes" class="ring-offset-2 ring ring-gray-300 ring-opacity-40">
                  <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">School Millage Rate</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= propertyTax.schoolMillage %></dd>
                  </div>
                  <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">School Tax Due @ Discount</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= countyTax.taxValue !== 0 ? propertyTax.schoolTaxPerYear.toLocaleString({ maximumFractionDigits: 2 }) : 0 %></dd>
                  </div>
                </div>
                <div id="total-taxes" class="ring-offset-2 ring ring-gray-300 ring-opacity-40">
                  <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Total Taxes Due @ Face</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= countyTax.taxValue !== 0 ? propertyTax.totalEscrow : 0 %></dd>
                  </div>
                </div>
              </label>
            </label>

            <label for="tax-history-btn" class="btn btn-outline">Tax History</label>
            <input type="checkbox" id="tax-history-btn" class="modal-toggle" />
            <label for="tax-history-btn" class="modal cursor-pointer">
              <label class="modal-box relative" id ="tax-hist-modal" for="">
                <table class="table-auto">
                  <thead>
                    <tr>
                      <th class="px-2 py-2">Year</th>
                      <th class="px-2 py-2">Amount Due</th>
                      <th class="px-2 py-2">Paid Status</th>
                      <th class="px-2 py-2">Penalty</th>
                      <th class="px-2 py-2">Interest</th>
                      <th class="px-2 py-2">Total</th>
                      <th class="px-2 py-2">Paid on</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% taxData.forEach(tax => { %>
                      <tr>
                        <td class="border px-3 py-2 text-center"><%= tax.year || 'N/A' %></td>
                        <td class="border px-3 py-2 text-center"><%= tax.yearTax || 'N/A' %></td>
                        <td class="border px-3 py-2 text-center"><%= tax.paidStatus || 'N/A' %></td>
                        <td class="border px-3 py-2 text-center"><%= tax.penalty || 0 %></td>
                        <td class="border px-3 py-2 text-center"><%= tax.interest || 0 %></td>
                        <td class="border px-3 py-2 text-center"><%= tax.total || 'N/A' %></td>
                        <td class="border px-3 py-2 text-center"><%= tax.datePaid || 'N/A' %></td>

                      </tr>
                    <% }); %>
                  </tbody>
                </table>
                
                

              </label>
            </label>
            
            <label for="owner-btn" class="btn btn-outline m-4">Owner Info</label>
            <input type="checkbox" id="owner-btn" class="modal-toggle" />
            <label for="owner-btn" class="modal cursor-pointer">
              <label class="modal-box relative" for="">
                <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Deed Book</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= owner.deedBook %></dd>
                </div>
                <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">Deed Page</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= owner.deedPage %></dd>
                </div>

              
                <div style="text-align:center" class="text-lg font-large underline px-4 py-2">
                  <p>Sale History</p>
                </div>

                <ul>
                <% for (let i = 0; i < owner.ownerHistory.length; i++) { %>
                    <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500"><strong>Owner</strong></dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><strong><%= owner.ownerHistory[i].owner %></strong></dd>
                    </div>
                    <div class="bg-white-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">Sale Date</dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= owner.ownerHistory[i].saleDate.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }) %></dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">Sale Price</dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= owner.ownerHistory[i].salePrice.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                    </div>
                  </br>
                  <% }; %>
                </ul>
              </label>
            </label>

            <label for="comparable-properties" class="btn btn-outline">Comparable Properties</label>
            <input type="checkbox" id="comparable-properties" class="modal-toggle" />
            <label for="comparable-properties" class="modal">
              <div class="modal-box relative">
                <% if (comps.comps.length === 0) { %>
                <p>No Comparable Properties Available</p>
                <% } else { %>
                  <ul>
                    <% for (let i = 0; i < comps.comps.length; i++) { %>
                      <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500"><strong>Address</strong></dt> 
                          <button class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 address-btn" onclick="event.preventDefault(); fetch('/property/comps', { method: 'POST', body: JSON.stringify({ address: '<%= comps.comps[i].address %>' }), headers: { 'Content-Type': 'application/json' } }).then(res => res.json()).then(data => compProperty(data))"><strong><%= comps.comps[i].address %></strong></button>
                        </div>
                        <div class="bg-white-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Year Built</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= comps.comps[i].yearBuilt %></dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Parcel ID</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= comps.comps[i].parcelId %></dd>
                        </div>
                        <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Sale Price</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= comps.comps[i].salePrice.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Sale Date</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= comps.comps[i].saleDate %></dd>
                        </div>
                        <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Square Footage</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= comps.comps[i].livableSquareFeet.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Land Value</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= comps.comps[i].landValue.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                        </div>
                        <div class="bg-white-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Building Value</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= comps.comps[i].bldgValue.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                        </div>
                        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                          <dt class="text-sm font-medium text-gray-500">Total Value</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$<%= comps.comps[i].totalValue.toLocaleString({ maximumFractionDigits: 2 }) %></dd>
                        </div>
                      </br>
                      <% }; %>
                    </ul>
                    <% }; %>
                  </div>
            </label>
          </label>
    <!-- Market values stat table -->
    <div class="stats stats-horizontal lg:flex-row flex-col shadow-lg rounded-lg overflow-hidden py-11">
      <div class="stat bg-gray-100 dark:bg-gray-800 p-6">
        <div class="land-assessed font-bold text-xl mb-2 text-black text-outline-2">Land Market Value</div>
        <div class="stat-value font-bold text-3xl">$<%= property.fullMarketValues.this_year.landValue.toLocaleString({ maximumFractionDigits: 2 }) %></div>
        <div class="stat-desc text-gray-500 dark:text-gray-400">2023</div>
      </div>
      <div class="stat bg-gray-100 dark:bg-gray-800 p-6">
        <div class="bldg-market font-bold text-xl mb-2">Building Market Value</div>
        <div class="stat-value font-bold text-3xl">$<%= property.fullMarketValues.this_year.buildingValue.toLocaleString({ maximumFractionDigits: 2 }) %></div>
        <div class="stat-desc text-gray-500 dark:text-gray-400">2023</div>
      </div>
      <div class="stat bg-gray-100 dark:bg-gray-800 p-6">
        <div class="total-market font-bold text-xl mb-2 text-yellow-400">Total Market Value</div>
        <div class="stat-value font-bold text-3xl text-yellow-400 ttl">$<%= property.fullMarketValues.this_year.totalValue.toLocaleString({ maximumFractionDigits: 2 }) %></div>
        <div class="stat-desc">2023</div>
      </div>
    </div>
    <!-- Assessed values stat table -->
    <div class="stats stats-horizontal lg:flex-row flex-col shadow-lg rounded-lg overflow-hidden py-11">
      <div class="stat bg-gray-100 dark:bg-gray-800 p-6">
        <div class="land-assessed font-bold text-xl mb-2 text-black text-outline-2">Land Assessed Value</div>
        <div class="stat-value font-bold text-3xl">$<%= property.countyAssessedValues.this_year.landValue.toLocaleString({ maximumFractionDigits: 2 }) %></div>
        <div class="stat-desc text-gray-500 dark:text-gray-400">2023</div>
      </div>
      <div class="stat bg-gray-100 dark:bg-gray-800 p-6">
        <div class="bldg-assessed font-bold text-xl mb-2">Building Assessed Value</div>
        <div class="stat-value font-bold text-3xl">$<%= property.countyAssessedValues.this_year.buildingValue.toLocaleString({ maximumFractionDigits: 2 }) %></div>
        <div class="stat-desc text-gray-500 dark:text-gray-400">2023</div>
      </div>
      <div class="stat bg-gray-100 dark:bg-gray-800 p-6">
        <div class="total-assessed font-bold text-xl mb-2 text-yellow-400">Total Assessed Value</div>
        <div class="stat-value font-bold text-3xl text-yellow-400 ttl">$<%= property.countyAssessedValues.this_year.totalValue.toLocaleString({ maximumFractionDigits: 2 }) %></div>
        <div class="stat-desc">2023</div>
      </div>
</div>

        
<%- include('partials/footer') -%>